div.modal-background {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(0,0,0,0.6);
}

input {
	padding: 6px;
}

/*
 * Common widgets
 */
button {
	border: 0;
	border-radius: 6px;
	color: white;
	background-color: var(--color-button-main);
	font-weight: bold;
	padding: 8px;
}

button:hover {
	background-color: var(--color-button-light);
}

.padding-small {
	padding: 4px;
}

.padding-medium {
	padding: 6px;
}

.padding-large {
	padding: 8px;
}