div.questionaire {
	border: 1px solid black;
	background-color: #fdf3df;
}

div.questionnaire span {
line-height: 40px;
}

hr.question-splitter {
	margin-top: 6px;
	margin-bottom: 8px;
}

.preview {
	display: inline;
	float: right;
	width:50%;
	height: 100%;
	background-color: white;
}
