div.questionaire {
	border: 1px solid black;
	background-color: #fdf3df;
}

div.questionnare span {
line-height: 40px;
}

.preview {
	display: inline;
	float: right;
	width:50%;
	background-color: white;
}
