<div ng-controller="templateController">
	<h1>[[#{TEMPLATE}]]</h1>
	<nav class="template-toolbar">
	
		Temlate ID: <input type"text" ng-model="template_container.template_id" list="id-list">
		<datalist id="id-list">
			<option ng-repeat="template_id in template_container.available_ids" value="{{template_id}}"/>
		</datalist>
		<button ng-click="template_container.store_template()">Store</button>
		<button ng-click="template_container.restore_template()">Restore</button>

		<button ng-click="template_container.create_new_template()">[[#{NEW_TEMPLATE}]]</button>
		<button ng-click="template_container.add_question_element('open')">[[#{OPEN_QUESTION}]]</button>
		<button ng-click="template_container.add_question_element('closed')">[[#{CLOSED_QUESTION}]]</button>
		<button ng-click="template_container.debug()">debug</button>
	</nav>
	<div class="questionaire">
		<br>
		
		<!-- Tags -->
		<div class="tags-container">
			<h2>[[#{TAGS}]]:</h2>
			<div class="tags">
				<span class="tag" ng-repeat="tag in template_container.tags">
					{{tag}}
				</span>
			</div>
			<input type="text" list="tag-list" id="tag-to-add"><button th:text="#{ADD_TAG}" ng-click="template_container.add_tag()">add tag</button>
			<datalist id="tag-list">
				<option ng-repeat="tag in template_container.tags" value="{{tag}}"/>
			</datalist>
		</div>
		
		<!-- questionnare template area -->
		<span ng-repeat="template_element in template_container.template_elements" ng-switch="template_element.type.toLowerCase()">
			<hr class="question-splitter">
			
			<!-- Preview box -->
			<span class="preview inline">
				<span class="question-preview" ng-switch="template_element.type.toLowerCase()">
					<span ng-switch-when="open" class="open-question-preview">
						<p ng-bind="template_element.question"></p>
						<input type="{{template_element.answer_type}}">
					</span>
					<span ng-switch-when="closed" class="closed-question-preview">
						<p ng-bind="template_element.question"></p>
						<span ng-repeat="option in template_element.options">
							<input type="radio" value="option.value" name="{{template_element}}" text="{{option.text}}">
							<label ng-bind="option.text">{{option.text}}</label>
							<br>
						</span>
					</span>
				</span>
			</span>
			
			<!-- Open question, onlu contains the question and the answer type -->
			<span ng-switch-when="open" class="open-question">
				<label class="question-label">
					[[#{QUESTION}]]:
				</label>
				<br>
				<textarea ng-model="template_element.question" class="question-box"></textarea>
				<br>
				[[#{ANSWER_TYPE}]]:
				<select caseinsensitive-options ng-model="template_element.answer_type">
					<!-- TODO : Consider localising -->
					<option value="text">Text</option>
					<option value="number">Number</option>
					<option value="email">Email</option>
				<select>
				<br>
			</span>
			<!-- Closed question, contains the question and the possible answers -->
			<span ng-switch-when="closed" class="closed-question">
				<label class="question-label">
					[[#{QUESTION}]]:
				</label>
				<br>
				<textarea ng-model="template_element.question" class="question-box"></textarea>
				<br>
				<label class="optons-label">
					[[#{OPTIONS}]]
				</label>
				<br>
				<span ng-repeat="option in template_element.options" class="options-section">
					<input type="text" ng-model="option.value">
					<input type="text" ng-model="option.text">
					<button ng-click="template_container.remove_option(template_element, option)">[[#{REMOVE}]]</button>
					<br>
				</span>
				<button ng-click="template_container.add_option(template_element)">[[#{ADD}]]</button>
			</span>
			<br>
			<button ng-click="template_container.remove_question_element(template_element)">[[#{REMOVE}]]</button>
		</span>
	</div>
</div>